body {
    margin: 0;
    padding: 10px;              /* Padding for å få litt space  */
    background: #f0f0f0;
    font-family: "Gill Sans", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: #282828; }   /* Background-colour for hele headeren istedenfor nav  */

#banner {                     /* Erstatter subheader */
    position: relative;
    text-align: center;
}
#banner > img {
    width: 100%;
    max-height: 280px;

}
#banner > h1 {
    position: absolute;
    font-size: 60px;
    top: 25%;
    width: 100%;
    color: ghostwhite;
}

#banner span {
    color: #ffffff;
    background-color: rgba(5, 5, 5, 0.7);
    white-space: pre;
}

nav {overflow: hidden;}

nav > ul {margin: 0; }

nav > ul > li {
    float: left;             /* Plasserer alle linker til venstre */
    display: inline-block;
    padding: 15px 15px 15px 0;
}

nav > ul > li > a {
    color: #ffffff;
    font-size: 20px;
    padding-right: 60px;
}

nav a:not(.active) {color: #ccc;}

nav a:not(.active):hover {
    color: #11c3ff;
    text-decoration-line: none;
}


nav > ul > #search {
    float: right;            /* Plasserer søkebaren til høyre */
}

nav > ul > #search > img {
    width: 25px;
    height: 25px;
}


#main {
    width: 97%;
    margin: 0 auto;
    background-color: #ffffff;
    overflow: hidden;
    text-align: center;
}

.section {
    float: left;
    width: 50%;
    text-align: center;
    background-color: inherit;
}

.section > h2 {padding: 2px 10px 2px 10px;}

.section > a {
    color: #11c3ff;
}

footer {
    clear: both;
    margin-top: 2px;
    width: 100%;
    background-color: #282828;

}

footer > ul {
    margin: 0;
    padding: 18px;
    text-align: center;
    color: #ffffff;
}

footer > ul > li {
    display: inline-block;
    padding-right: 25px;
    font-variant: small-caps;
}

/* Struktur for hovedsiden */

.grid {
    padding-top: 60px; /* <- lagt til for å få space mellom header og grid */
    background-color: #ffffff;

    display: flex;
    flex-direction: row;
    flex-flow: row wrap;    /* <- Kommentar: row wrap er det samme som wrap? row-wrap (bindesstrek) lager rad */

    /* Justify-content: */
    /* flex-grow: størst  tall for store bokser, små for de minste */
    /* Sjekk ut:  https://www.w3schools.com/css/tryit.asp?filename=trycss3_flexbox_image_gallery */
}

.searchbox {
    flex: 100%;              /* Denne boxen tar 100% plass/width av grid */
    text-align: center;
    margin-bottom: 10px;
}

.searchbox > form > input {  /* Nytt: Søkebar og knapp i searchbox */
    width: 70%;                     /* Tar 70% box */
    border: 1px solid #333333;
    border-radius: 5px;
    font-size: 18px;
    background-color: #ffffff;
    padding: 10px 15px 10px 25px;
}

.box {
    flex: 30%; /* <- Hver box flexer 30% av grid */
    overflow: hidden;  /* <- Hindrer at img flyter over box */

    position: relative;
    text-align: center;

    margin: 0.5%; /* Endret fra " margin: 0;"  for å få litt space mellom boksene */

}

.box h2 {
    width: 100%;
    position: absolute;  /*<- Endret fra relative for å få tekst over img */
    cursor: pointer; /* <- lagt til for å vise at det er en link */
    top: 40%;   /*<- Endret til 40% for plassere tekst i midten av img uansett skjerm */
}


/* Nytt. Beskrivelse over hver box */ 
.box p {
    position: absolute;
    width: 100%;

    color: white;
    background-color: rgba(0,0,0, 0.8);
    font-size: 1.40em;

    bottom: 0;
    margin: 0;

}

.box span {
    color: #000000;
    background-color: rgba(255,255,255, 0.5);
    white-space: pre;
}

.box img {
    width: 100%;
    height: 100%;   /* for å fylle hele box. Height må fikses. */
    position: relative; /*<- Endret fra absolute for å legge img underst */
}

/* lager en kul effekt*/       
.box img:hover {
    /* max-width: 555px;  */   /* <-  Kommentar: Bildet går ut av div? */
    transform: scale(1.03); /* <- Enklere enn ny max-width */
}


/* .grid img {        <- Ikke nødvendig (se over .box img)
    width: 100%;
} /* 


/*Struktur for underside 1 */
#main table {
    margin-left: auto;
    margin-right: auto;

}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
}

table a {
    color: #282828;
}


/* Struktur for underside 2 */
#map {
    margin: 0 auto;
    height: 350px;
    width: 80%;
    padding: 20px;
}

#hotel {
    margin-left: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 2px;
    min-width: 500px;
    display: table;
    background-color: #e2e0e0;
    text-align: left;
}



@media screen and (max-width:750px) {


    body {
        padding: 0;
    }

   #banner {
       display: none;     /* <- Skjuler banner */
   }

    nav > ul > li {
        margin: 0;
        padding: 12px;
        box-sizing: border-box;
        text-align: center;
    }

    .grid {
        flex-direction: column;
    }


    footer {bottom: 0;} /* Endret fra footer > ul.  Ikke nødvendig med > ul */ 

    footer > ul > li{
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
    }
}

@media screen and (max-width:480px) {

    #banner h1,  #main {
         font-size: 2rem /*  for bedre tilpasning. Endret fra " font-size: 12px; " */ 
    }

    nav > ul > li {
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 8px;
        text-align: center;
    }


    footer > ul > li{
        text-align: center;
        margin: 0;
        padding: 4px;
        box-sizing: border-box;
        bottom: inherit;
    }
}